.App {
  text-align: center;
  color: '#FFF';
  font-family: 'Roboto', sans-serif;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: #2cc692; 
  font-size: medium;
  border: 1px solid #a9a9a9;
}

button.inverse {
  background-color: #fefefe;
  border: 1px solid #2cc692;
}

button:disabled {
  background-color: #ccc;
  border: 1px solid #a9a9a9;
}

ul {
  list-style-type: none;
}